* {
    font-size: 16px;
}
body{
    background-color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.wrapper{
    width: 800px;
    margin: 30px auto;

}

h1,h2,h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

#seconds, #minutes {
    font-size: 3rem;
}

button {
    border-radius: 20px;
    background-color: cadetblue;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding:  18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover{
    transition: all .2s ease-in-out;
    background: white;
    border: solid 1px white;
    color: black;
}
