<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="row">
        <div class="col-lg-4">
            <h1>
                Your Search for : <%= data.userQuery %>
                <% data.searchResult.forEach(function(p) { %>
                    <li><%= p %></li>
                    <button><%= p %></button>
                <% }) %>
            </h1>
        </div>
    </div>
</body>
</html>